@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

.btn {
  -fx-background-color: #263f70;
  -fx-background-radius: 5px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-font-family: "Heebo", sans-serif;
}

.btn:hover {
  -fx-background-color: rgb(11, 41, 100);
}

.voltar {
  -fx-background-color: transparent;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-font-family: "Heebo", sans-serif;
}

.fundoClaro {
  -fx-background-color: white;
}

.labels {
  -fx-font-family: "Heebo", sans-serif;
  -fx-text-fill: rgb(11, 41, 100);
  -fx-font-weight: bold;
}

.texto {
  -fx-text-fill: rgb(11, 41, 100);
}

.progress-indicator:indeterminate .segment {
  -fx-background-color: #AE1919;
}